.place__title {
  margin: 0;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: calc(76 / 72 * 100%);
  grid-column: 1;
  grid-row: 1 / 2;
}

@media (max-width: 1279px) {
  .place__title {
    max-width: 440px;
  }
}

@media (max-width: 1023px) {
  .place__title {
    max-width: 330px;
    font-size: calc(42px + (30 + 30 * .7) * (100vw - 768px) / 1023);
    line-height: calc(46 / 42 * 100%);
  }
}

@media (max-width: 767px) {
  .place__title {
    font-size: calc(32px + (10 + 10 * .7) * (100vw - 320px) / 767);
    line-height: calc(35 / 32 * 100%);
    padding-left: 16px;
    padding-bottom: 32px;
  }
}

