.places {
  margin-top: 82px;
}

@media (max-width: 1279px) {
  .places {
    margin-top: 77px;
  }
}

@media (max-width: 1023px) {
  .places {
    margin-top: 69px;
  }
}

@media (max-width: 767px) {
  .places {
    margin-top: 64px;
  }
}
