.intro__list {
  margin: 0;
  padding: 33px 0 0;
  max-width: 690px;
  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(18 / 12 * 100%);
}

@media (max-width: 1023px) {
  .intro__list {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .intro__list {
    max-width: 288px;
  }
}