.place__website_url_link {
  padding-top: 12px;
  color: inherit;
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  grid-column: 2;
  grid-row: 1;
  transition: opacity .3s ease;
}

.place__website_url_link:hover {
  opacity: .8;
}

@media (max-width: 767px) {
  .place__website_url_link {
    padding-top: 0;
    padding-bottom: 32px;
  }
}
