.place__paragraph {
  margin: 0;
  padding-bottom: 26px;
  font-size: 18px;
  line-height: calc(29 / 18 * 100%);
  grid-column: 2;
  grid-row: 2;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: calc(26 / 16 * 100%);
  }
}
