.intro {
  max-width: 690px;
  margin: 90px 0 0 100px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1279px) {
  .intro {
    margin-left: calc(48px + (52 + 52 * .7) * (100vw - 1024px) / 1279);
  }
}

@media (max-width: 1023px) {
  .intro {
    max-width: 720px;
    margin-left: calc(24px + (4 + 4 * .7) * (100vw - 768px) / 1023);
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .intro {
    max-width: calc(288px + (432 + 432 * .7) * (100vw - 320px) / 767);
    margin-top: 60px;
    margin-right: 16px;
    margin-left: 16px;
  }
}
