.lead__subtitle {
  margin: 0;
  padding-top: 32px;
  max-width: 640px;
  font-size: 30px;
  line-height: calc(36 / 30 * 100%);
  text-align: center;
}

@media (max-width: 767px) {
  .lead__subtitle {
    max-width: calc(288px + (352 + 352 * .7) * (100vw - 320px) / 767);
    font-size: calc(16px + (14 + 14 * .7) * (100vw - 320px) / 767);
    line-height: calc(20 / 16 * 100%);
    padding-top: 16px;
  }
}
