.cover__title {
  margin: 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: calc(76 / 72 * 100%);
  text-align: center;
  position: relative;
  z-index: 200;
}

@media (max-width: 767px) {
  .cover__title {
    max-width: calc(288px + (432 + 432 * .7) * (100vw - 320px) / 767);
    font-size: calc(32px + (40 + 40 * .7) * (100vw - 320px) / 767);
    line-height: calc(35 / 32 * 100%);
  }
}
