.header__lang-links {
  margin: 0;
  padding: 18px 0 0;
  font-size: 24px;
  line-height: calc(28 / 24 * 100%);
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
}

@media (max-width: 767px) {
  .header__lang-links {
    padding-top: 14px;
    font-size: 18px;
    line-height: calc(20 / 18 * 100%);
  }
}
