.place__url {
  margin: 0;
  font-size: 12px;
  line-height: calc(12 / 12 * 100%);
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
  padding-bottom: 30px;
  align-self: end;
}

@media (max-width: 767px) {
  .place__url {
    padding-bottom: 12px;
    padding-left: 16px;
    align-self: baseline;
  }
}
